.o-container {
  padding-inline: var(--space-4xl);
  margin: 0 auto;
  max-width: 1440px;
}

.o-grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(25% - 20px * 3 / 4));
  width: 100%;
  gap: 20px;
  justify-content: start;
  justify-items: start;
  margin: 0 auto;
}

.o-section-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  row-gap: 6px;
  margin-bottom: 25px;
}

.o-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
