.o-container {
  padding-inline: var(--space-4xl);
  margin: 0 auto;
  max-width: 1440px;
}

.o-grid-main {
  display: grid;
  grid-template-columns: 230px minmax(850px, 1fr);
  gap: 20px;
}

.o-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
