/* CSS trong project L&S E-commerce sử dụng kiến trúc ITCSS*/

/* ================== Settings + BEM =================== */

/*================Components====================*/

/* ---------------- TOP BAR ---------------- */
.topbar {
  background: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-lg-plus);
  align-items: center;
  font-size: 14px;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.topbar-links {
  display: flex;
  gap: 20px;
}

.topbar-links a {
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}

/* ---------------- MAIN HEADER ---------------- */
.site-header {
  background: #f2f4f5;
  padding-block: var(--space-md);
}
.site-header .o-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: var(--space-sm);
}

/* Logo */
.header-logo img {
  width: 150px;
}

/* Search */
.header-search {
  width: 50%;
  display: flex;
  position: relative;
}

/* -------------- LEFT MENU ---------------- */
.hero-menu {
  height: 380px;
  margin-top: var(--space-unit);
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: var(--text-base-size);
  color: #222;
  border-bottom-left-radius: 8px;
  border-inline: 1px solid #e0e0e0;
  background-color: #f3f4f6;
  padding-block: var(--space-unit);
  padding-left: var(--space-lg);
}
#menu-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-size: var(--text-base-size);
  font-weight: 600;
}
.menu-list-item {
  cursor: pointer;
  padding: 6px 0;
}

.menu-list-item:hover {
  color: #e20000;
  font-weight: 600;
}

/* ------------ Hero Slider ------------------ */
.hero-slider {
  width: 100%;
  margin-top: var(--space-unit);
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  min-width: 100%;
}

.slider-item img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  display: block;
}

/* DOTS */
.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: var(--space-xs);
  position: absolute;
  z-index: 10;
  bottom: var(--space-sm);
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: var(--text-base-size);
  height: var(--text-base-size);
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.is-active {
  background: #e20000;
  border: 2px solid var(--color-bg);
}

/*------------------ Flash Sales-------------- */
.flash {
  width: 100%;
}

.flash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* Badge */
.flash-header-action__badge {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #e00;
  font-weight: 600;
}

.flash-header-action__badge span {
  width: 14px;
  height: 14px;
  background: #e00;
  border-radius: 4px;
}

.flash-title {
  font-size: 28px;
  font-weight: 700;
}

/* Countdown */
.countdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countdown-item {
  text-align: center;
}

.countdown-number {
  font-size: var(--text-xl);
  font-weight: bold;
}

.countdown-label {
  font-size: 12px;
  color: #666;
}

.countdown-dot {
  font-size: 22px;
  font-weight: bold;
  color: #e00;
}

/* Arrows */
.flash-arrows {
  display: flex;
  gap: 10px;
}

.flash-arrow {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  font-size: 18px;
}

.flash-arrow:hover {
  background: #e0e0e0;
}

/* Slider */
.flash-slider {
  overflow: hidden;
  width: calc(4 * var(--width-item) + 3 * 20px);
}

.flash-track {
  width: 100%;
  display: flex;
  gap: 20px;
  transition: transform 0.45s ease;
  margin: 0 auto;
}

#searchResultsTitle {
  margin-top: 20px;
}

#searchResultsTrack {
  margin-top: 16px;
  display: grid;
  gap: 20px;
  justify-content: start;
  justify-items: start;
  grid-template-columns: repeat(auto-fit, minmax(220px, 260px));
}

#searchResultsTrack .product {
  width: 100%;
  min-width: 0;
}

/* Product card */
.product {
  min-width: var(--width-item);
  background: #fff;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-4px);
}

.product-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e00;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 4px;
}

.product-img-wrap {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  background: #fff;
}

.product-img {
  height: 100%;
  width: auto;
  display: block;
}

.product-actions {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  transition: 0.3s;
}

.product:hover .product-actions {
  opacity: 1;
}

/* Add to cart */
.product-cart {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.product:hover .product-cart {
  opacity: 1;
  pointer-events: auto;
}

.product-name {
  margin-top: 10px;
  font-size: 15px;
}

.product-price {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.price-new {
  color: #e00;
  font-weight: bold;
}

.price-old {
  text-decoration: line-through;
  color: #777;
}

.product-rating {
  margin-top: 5px;
  font-size: 14px;
  color: #ffb400;
}

/* View All Button */
.flash-view-all {
  margin-top: 25px;
  margin-inline: auto;
}

/* ================== Trumps/Ultilities ================ */
/* Chủ yếu sử dụng trong phần Responsive để ẩn/hiện một số element/style */

.hide {
  display: none !important;
}

/* ------------------- RESPONSIVE ------------------ */

@media (max-width: 1280px) {
  .o-grid-main {
    grid-template-columns: 200px minmax(690px, 1fr);
  }
  .o-container {
    padding-inline: var(--space-3xl);
  }

  .header-nav__list {
    padding-left: 100px;
  }

  .flash-slider {
    width: 950px;
  }
  .flash-track {
    gap: var(--space-sm);
  }
  .product {
    min-width: var(--width-item-sm);
  }
}

/* Tablet (≤ 1024px) */
@media (max-width: 1024px) {
  .o-grid-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);
    /* padding: 20px; */
  }
  .hero-menu {
    display: none;
  }
  .hero-menu .menu-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-xxs);
    padding-inline: var(--space-lg-plus);
  }

  body {
    min-width: 768px;
  }
  .o-container {
    padding-inline: var(--space-unit);
  }
  .header-search {
    width: 40%;
  }
  .flash-slider {
    width: 100%;
  }
  .flash-track {
    width: 100%;
    gap: var(--space-sm);
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
  }
  .product {
    width: var(--width-item);
    padding: var(--space-xxs);
  }
  .header-actions {
    gap: var(--space-sm);
  }

  .header-nav__list {
    gap: 20px;
  }

  .topbar {
    padding: 8px 20px;
  }

  .site-header {
    padding: 20px 20px;
  }

  .hero-slider {
    min-width: 720px;
  }
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
  body {
    min-width: 390px;
  }

  /* Hide menu & contact */
  .header-nav__list,
  .header-contact,
  .menu-btn {
    display: none;
  }

  /* Main header reflow */
  .site-header {
    flex-wrap: wrap;
    gap: 15px;
  }

  .header-search {
    order: 3;
    width: 100%;
  }

  .header-actions {
    order: 2;
    gap: 18px;
  }

  /* Show mobile menu icon */
  .mobile-menu-btn {
    display: block;
    order: -10;
  }

  .topbar {
    flex-direction: column;
    text-align: center;
    gap: 6px;
  }

  .hero-slider {
    min-width: 300px;
  }

  .header-logo {
    position: absolute;
    left: 40px;
    width: 80px;
  }

  .header-search {
    display: none;
  }
  nav {
    display: none !important;
  }

  .slider-item img {
    height: auto;
  }
  .flash-header {
    display: block;
    position: relative;
  }

  .flash-title {
    position: absolute;
    font-size: var(--text-base-size);
    right: 0;
    top: 0;
  }

  .flash-arrow {
    display: none;
  }

  .flash-track {
    gap: var(--space-xs);
    /* min-width: 580px; */
  }
  .countdown {
    z-index: 9;
    margin-top: var(--space-md);
    justify-content: center;
    gap: var(--space-xs);
  }
  .countdown .countdown-number {
    font-size: var(--text-lg);
  }

  .product-cart {
    position: absolute;
    bottom: calc(var(--space-xxl) - 8px);
    left: 0;
    z-index: 10;
  }
  .product {
    width: clamp(200px, 24vw, 260px);
    padding: var(--space-xxs);
  }
}

/* Small mobile (≤ 480px) */
@media (max-width: 480px) {
  .header-logo {
    width: 70px;
  }
  .flash-slider {
    min-width: 380px;
    width: 100%;
  }
  .product {
    width: var(--width-item-xxm);
    min-width: 150px;
  }
  .header-logo h2 {
    font-size: 20px;
  }

  .header-search input {
    font-size: 14px;
  }

  .header-action {
    padding: var(--space-xs) var(--space-sm);
  }
}
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.cart-table img {
  vertical-align: middle;
  margin-right: 10px;
}
